@model Online_Supermarket_Project.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="content-header">
    <h1>
        Chi tiết Sản Phẩm: @Model.ProductName
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">QL Sản Phẩm</a></li>
        <li class="active">Chi tiết Sản Phẩm</li>
    </ol>
</section>

<section class="content">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div>
                    <a class="btn btn-success" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Back to List</a>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <img src="/images/products/@Model.Image" alt="User Image" width=500px"">
                    </div>
                    <div class="col-md-7">
                        <table class="table table-striped ">
                            <tbody>
                                <tr>
                                    <td>ID: </td>
                                    <td>@Model.ProductId</td>
                                </tr>
                                <tr>
                                    <td>Name: </td>
                                    <td>@Model.ProductName</td>
                                </tr>
                                <tr>
                                    <td>Price: </td>
                                    <td>@Model.Price</td>
                                </tr>
                                <tr>
                                    <td>Discount: </td>
                                    <td>@Model.Discount</td>
                                </tr>
                                <tr>
                                    <td>CateId: </td>
                                    <td>@Model.Cate?.CateName</td>
                                </tr>
                                <tr>
                                    <td>UnitsInStock: </td>
                                    <td>@Model.UnitsInStock</td>
                                </tr>
                                <tr>
                                    <td>Active: </td>
                                    <td>@Model.Status</td>
                                </tr>
                                <tr>
                                    <td>ShortDesc: </td>
                                    <td>@Model.ShortDesc</td>
                                </tr>
                                <tr>
                                    <td>Description: </td>
                                    <td>@Html.Raw(Model.Description)</td>
                                </tr>
                                <tr>
                                    <td>CreatedDate: </td>
                                    <td>@Model.CreatedDate</td>
                                </tr>
                                <tr>
                                    <td>ModifiedDate: </td>
                                    <td>@Model.ModifiedDate</td>
                                </tr>
                                <tr>
                                    <td>Update: </td>
                                    <td>
                                        <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>