@model Online_Supermarket_Project.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="content-header">
    <h1>
        Chi tiết Danh Mục: @Model.CateName
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">QL Danh Mục</a></li>
        <li class="active">Chi tiết Danh Mục</li>
    </ol>
</section>

<section class="content">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div>
                    <a class="btn btn-success" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Back to List</a>
                </div>
                <br />
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>ID: </td>
                            <td>@Model.CateId</td>
                        </tr>
                        <tr>
                            <td>Name: </td>
                            <td>@Model.CateName</td>
                        </tr>
                        <tr>
                            <td>Status: </td>
                            <td>
                                @if (Model.Status)
                                {
                                    <span class="label label-success">Active</span>
                                }
                                else
                                {
                                    <span class="label label-danger">Inactive</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Alias: </td>
                            <td>@Model.Alias</td>
                        </tr>
                        <tr>
                            <td>Description: </td>
                            <td>@Html.Raw(Model.Desciption)</td>
                        </tr>
                        <tr>
                            <td>Edit: </td>
                            <td>
                                <div>
                                    <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminCategories" asp-action="Edit" asp-route-id="@Model.CateId">Edit</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>