@model List<Online_Supermarket_Project.ModelView.CartItem>

@if(Model != null && Model.Count() > 0)
{
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">My Cart</h4>
        <button type="button"
                class="btn-close text-secondary"
                data-bs-dismiss="offcanvas">
            <i class="lastudioicon lastudioicon-e-remove"></i>
        </button>
    </div>

    <div class="offcanvas-body">
        <!-- Offcanvas Cart Items Start  -->
        <ul class="offcanvas-cart-items">
            @foreach(var item in Model)
            {
                string url = $"{item.Product.Alias}-{item.Product.ProductId}.html";
                <li>
                    <!-- Mini Cart Item Start  -->
                    <div class="mini-cart-item">
                        <a href="#/" class="mini-cart-item__remove">
                            <i class="lastudioicon lastudioicon-e-remove"></i>
                        </a>
                        <div class="mini-cart-item__thumbnail">
                            <a href="@url">
                                <img width="70"
                                     height="88"
                                     src="~/images/products/@item.Product.Image"
                                     alt="@item.Product.Title" />
                            </a>
                        </div>
                        <div class="mini-cart-item__content">
                            <h6 class="mini-cart-item__title">
                                <a href="single-product.html">@item.Product.ProductName</a>
                            </h6>
                            <span class="mini-cart-item__quantity">@item.Amount × @item.Product.Price.GetValueOrDefault().ToString("#,##0") VNĐ</span>
                        </div>
                    </div>
                    <!-- Mini Cart Item End  -->
                </li>

            }
        </ul>
        <!-- Offcanvas Cart Items End  -->
    </div>

    <div class="offcanvas-footer d-flex flex-column gap-4">
        <!-- Mini Cart Total End  -->
        <div class="mini-cart-totla">
            <span class="label">Subtotal:</span>
            <span class="value">@Model.Sum(p => p.TotalAmount).ToString("#,##0") VNĐ</span>
        </div>
        <!-- Mini Cart Total End  -->
        <!-- Mini Cart Button End  -->
        <div class="mini-cart-btn d-flex flex-column gap-2">
            <a class="d-block btn btn-secondary btn-hover-primary" href="cart.html">View cart</a>
            <a class="d-block btn btn-secondary btn-hover-primary" href="#">Checkout</a>
        </div>
        <!-- Mini Cart Button End  -->
    </div>
}
else
{
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">My Cart</h4>
        <button type="button"
                class="btn-close text-secondary"
                data-bs-dismiss="offcanvas">
            <i class="lastudioicon lastudioicon-e-remove"></i>
        </button>
    </div>

    <div class="offcanvas-body">
        <!-- Offcanvas Cart Items Start  -->
        <ul class="offcanvas-cart-items">
            <p>Không có Sản phẩm</p>
        </ul>
        <!-- Offcanvas Cart Items End  -->
    </div>

    <div class="offcanvas-footer d-flex flex-column gap-4">
        <!-- Mini Cart Total End  -->
        <div class="mini-cart-totla">
            <span class="label">Subtotal:</span>
            <span class="value">0 VNĐ</span>
        </div>
        <!-- Mini Cart Total End  -->
        <!-- Mini Cart Button End  -->
        <div class="mini-cart-btn d-flex flex-column gap-2">
            <a class="d-block btn btn-secondary btn-hover-primary" href="cart.html">View cart</a>
            <a class="d-block btn btn-secondary btn-hover-primary" href="#">Checkout</a>
        </div>
        <!-- Mini Cart Button End  -->
    </div>
}

