@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Online_Supermarket_Project.Models.New>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh Sách Tin Tức  ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>
        List News
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a asp-area="Admin" asp-controller="AdminNews" asp-action="Index">News Management</a></li>
        <li class="active">List News</li>
    </ol>
</section>

<section class="content">

    <!-- Default box -->
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div style="display:flex">
                    <a asp-area="Admin" asp-controller="AdminNews" asp-action="Create" style="margin-right:20px" class="btn btn-success">+ Add New</a>
                </div>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 250px;">
                        <input type="text" style=" min-height:34px" name="table_search" class="form-control pull-right" placeholder="Search">
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Is Hot</th>
                            <th>Is New Feed</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.NewId</td>
                                    <td>@item.Title</td>
                                    <td>
                                        @if (@item.Published)
                                        {
                                            <span class="label label-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Inactive</span>
                                        }
                                    </td>
                                    <td>
                                        @if (@item.IsHot)
                                        {
                                            <span class="label label-success">Hot</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">-</span>
                                        }
                                    </td>
                                    <td>
                                        @if (@item.IsNewFeed)
                                        {
                                            <span class="label label-success">New Feed</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">-</span>
                                        }
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="AdminNews" asp-action="Details" asp-route-id="@item.NewId" class="btn btn-success">Chi Tiết</a> |
                                        <a asp-area="Admin" asp-controller="AdminNews" asp-action="Edit" asp-route-id="@item.NewId" class="btn btn-primary">Sửa</a> |
                                        <a asp-area="Admin" asp-controller="AdminNews" asp-action="Delete" asp-route-id="@item.NewId" class="btn btn-danger">Xóa</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td><h3>Không có bản ghi nào</h3></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <pager list="@Model" asp-area="Admin" asp-controller="AdminNews" asp-action="Index" />
                </ul>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.box -->

</section>